[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
setuptools = "*"
pyviews = {editable = true, path = "c:\\projects\\own\\pyviews"}
tkviews = {editable = true, path = "."}
pytest = "*"

[requires]
python_version = "3"
