[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pylint = "*"
setuptools = "*"
pyviews = "*"
tkviews = {editable = true,path = "."}
pytest = "*"
coverage = "*"

[requires]
python_version = "3"
